@import "./variables";
.add-member-container {
  box-shadow: 2px;
}

.add-user-container {
  width: 100%;
  padding-top: 100px;
  padding-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px;
}
.add-member-form,
.add-user-form {
  flex-direction: column;
  padding: 20px 16px 40px 16px;
  transform: translateZ(0);
  text-align: center;
  .add-member-form-title {
    margin: $margin-base;
  }
}

// h1 {
//   color: $black;
//   margin: 0;
//   padding: 30px 0;
//   text-align: center;
// }
h2 {
  padding: 1rem 0;
}
.form {
  gap: $gap-xl;
}

.box {
  background: rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 420px;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  /* Positioning */
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-box {
  position: relative;
}

.input-box input {
  border-style: none;
  background: transparent;
  border-bottom: 1px solid $black;
  width: 100%;
  position: relative;
  outline: none;
  padding: 10px 0;
  font-size: 12px;
  margin-bottom: 30px;
}

.input-box label {
  color: $light-gray;
  position: absolute;
  padding: 5px 0;
  top: 0;
  left: 0;
  font-size: 12px;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:read-only ~ label,
.input-box input:valid ~ label {
  color: #ffa500;
  font-size: 12px;
  top: -20px;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:read-only ~ label,
.input-box input:valid ~ label,
.input-box > div > input:focus + label,
.input-box > div > input:read-only + label,
.input-box > div > input:valid + label {
  color: orange;
  font-size: 12px;
  top: -20px;
  transition: 0.5s;
}

.input-box div input:focus ~ label {
  color: orange;
  font-size: 12px;
  top: -20px;
  transition: 0.5s;
}

.input-box select {
  border-style: none;
  background: transparent;
  border-bottom: 1px solid $black;
  width: 100%;
  position: relative;
  outline: none;
  padding: 10px 0;
  font-size: 12px;
  margin-bottom: 30px;
}

.input-box label {
  color: $light-gray;
  position: absolute;
  padding: 5px 0;
  top: 0;
  left: 0;
  font-size: 12px;
  pointer-events: none;
  transition: 0.5s;
}

.input-box select:focus ~ label,
.input-box select:valid ~ label {
  color: orange;
  font-size: 12px;
  top: -20px;
  transition: 0.5s;
}
.box input[type="submit"] {
  color: $black;
  border-spacing: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  background: orange;
  border: 1px solid orange;
  transition: 0.3s;
}

.box input[type="submit"]:hover {
  background: orange;
  border: 1px solid orange;
  transition: 0.3s;
}

.amber {
  background: $amber;
  color: $amber;
  border: 1px solid $amber;
  fill: $amber;
  &:hover,
  &:hover:after,
  &.btn-fillup:after {
    background: darken($amber, 10%);
    color: darken($amber, 10%);
    border: 1px solid transparent;
  }
}

a,
a:hover {
  color: #111;
  @include transition(0.2s);
}
.box a {
  margin-top: 0.5rem;
  color: #9a9d9e;
  font-size: 12px;
  text-decoration: none;
}

.horizontal-divider {
  display: inline-block;
  margin-left: 20px;
}

.btn-lines {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 37px;
  margin: 15px 0;
  border: 1px solid $black;
  text-align: center;

  small {
    line-height: 34px;
  }

  div[class^="line"] {
    position: absolute;
    border: 0px solid transparent;
    @include transition(all 0.2s ease-in-out);
  }

  .line-top {
    top: -1px;
    left: -1px;
    width: 0;
    height: 1px;
  }

  .line-right {
    bottom: 0;
    right: -1px;
    width: 1px;
    height: 0;
  }

  .line-bottom {
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 1px;
  }

  .line-left {
    top: 0;
    left: -1px;
    width: 1px;
    height: 0;
  }

  &:hover .line-top,
  &:hover .line-bottom {
    width: 100px;
  }

  &:hover .line-right,
  &:hover .line-left {
    height: 36px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: white;
  padding: 2rem 2.5rem;
  width: 30em;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  font-size: 1.2em;
  line-height: 1;
  padding: 0 0.2em 0.15em;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  transition: color 0.12s ease-in-out;
}
.close-button:hover {
  color: var(--clr-main);
}

.success-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.success-container .row {
  border-radius: 20px;
}
.modalbox.success {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 20px;
  background: #fff;
  padding: 25px 25px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modalbox.success.animate .icon {
  -webkit-animation: fall-in 0.75s;
  -moz-animation: fall-in 0.75s;
  -o-animation: fall-in 0.75s;
  animation: fall-in 0.75s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.modalbox.success h1 {
  font-family: "Montserrat", sans-serif;
}
.modalbox.success p {
  font-family: "Open Sans", sans-serif;
}
.modalbox.success .icon {
  position: relative;
  margin: 0 auto;
  margin-top: -75px;
  background: #4caf50;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.modalbox.success .icon span {
  position: absolute;
  font-size: 4em;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  /* stupid browser compat. smh */
}
.center .change {
  clear: both;
  display: block;
  font-size: 10px;
  color: #ccc;
  margin-top: 10px;
}

.login-input-box {
  position: relative;
}

.login-input-box input {
  border-style: none;
  background: transparent;
  border-bottom: 1px solid $black;
  width: 100%;
  position: relative;
  outline: none;
  padding: 10px 0;
  font-size: 12px;
  margin-bottom: 30px;
}

.login-input-box label {
  color: #9a9d9e;
  position: absolute;
  padding: 5px 0;
  top: 0;
  left: 0;
  font-size: 12px;
  pointer-events: none;
  transition: 0.5s;
}

.login-input-box input:focus ~ label,
.login-input-box input:read-only ~ label,
.login-input-box input:valid ~ label {
  color: #ffa500;
  font-size: 12px;
  top: -20px;
  transition: 0.5s;
}

.login-input-box input:focus ~ label,
.login-input-box input:read-only ~ label,
.login-input-box input:valid ~ label,
.login-input-box > div > input:focus + label,
.login-input-box > div > input:read-only + label,
.login-input-box > div > input:valid + label {
  color: orange;
  font-size: 12px;
  top: -20px;
  transition: 0.5s;
}
